h1 {
    font-family: 'Abel', sans-serif;
    font-size: 65px;
}

h2 {
    font-size: 33px;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Abel', sans-serif;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 45px;
    justify-content: space-around;
}

.nav-items {
    display: flex;
}

.navigation ul {
    list-style: none;
    color: black;
}

.navigation a {
    text-decoration: none;
    margin-left: 25px;
    margin-right: 15px;
}

a:visited {
    color: black;
}

.main-content {
    display: flex;
}

p {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.extra {
    display: inline-block;
    justify-content: space-around;
}